.img1{
    height: 715px;
    position: relative;
    width: 100%;
}
.head{
    position: absolute;
    margin-top: -400px;
    color: white;
    margin-left: 450px;
}
.logo{
    width: 150px;
    height: 100px;
   margin-top: -1350px;
   position: relative;
  }
.btnr{
    color: white;
    background-color: blueviolet;
    width: 150px;
    position: absolute;
    margin-top: -300px;
    margin-left: 550px;
    border-radius: 5px;
    height: 50px;
}