<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="icon" href="{% static 'favicon.ico'  %}" />
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="{% static 'css/Message.css' %}">
    <link rel="stylesheet" href="{% static 'js/Form.js' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <img src="{% static 'images/banner-bg.png' %}" class="img1" alt="" srcset="">
    <h3 class="head"> We’ll get back to you here or by email ! Thank You...</h3>
    <img class="logo" src="{% static 'images/favicon.ico' %}" alt="" srcset="">
    <a href="{% url 'home' %}"  > <button  class="btnr" type="button">  Go to Home</button></a>
   
  </body>
</html>